{% extends 'base.html' %}
{% block content %}
<div class="container" id="prof">
    <h1 class="notwhite">Welcome {{ current_user.email }}!</h1>
    <h4>These are your saved details:</h4>
    <ul class="list-group">
        <li class="list-group-item">Email: {{ current_user.email}}</li>
        <li class="list-group-item">Token: {{ current_user.token}}</li>
    </ul>
    
    
    <h4 class="feature">Features Available:</h4>
    <ul class='hello'>
        <li>
            • See Top Scorers across all major leagues
        </li>
        <li>
            • See Top Assist Makers across all major leagues
        </li>
        <li>
            • Get Detailed Stats on the best Football Players in the world!
        </li>
        <li>
            • Contact Us to make suggestions / Requests for Stats you want!
        </li>
    </ul>
</div>
{% endblock content %}