{% extends 'base.html' %}
{% block content %}
<h1 class="notred">League Standings</h1>

<div class="container">
    <form method="POST" action="">
        <input type="submit" name="submit_button" value="Get EPL Standings">
    </form>
    
    <form method="POST" action="">
        <input type="submit" name="submit_button" value="Get La Liga Standings">
    </form>
    
    <form method="POST" action="">
        <input type="submit" name="submit_button" value="Get Bundesliga Standings">
    </form>
    
    <form method="POST" action="">
        <input type="submit" name="submit_button" value="Get Serie A Standings">
    </form>

    <form method="POST" action="">
        <input type="submit" name="submit_button" value="Get French Division 1 Standings">
    </form>

    <form method="POST" action="">
        <input type="submit" name="submit_button" value="Get MLS Standings">
    </form>

</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Name</th>
        <th scope="col">Played</th>
        <th scope="col">Won</th>
        <th scope="col">Draw</th>
        <th scope="col">Lost</th>
        <th scope="col">For</th>
        <th scope="col">Against</th>
        <th scope="col">Goal Difference</th>
        <th scope="col">Points</th>
      </tr>
     
    </thead>
    <tbody>
        {% for team in data %}     
      <tr>
        <th scope="col">{{team['rank']}}</th>
        <th scope="col">{{team['team']['name']}}</th>
        <th scope="col">{{team['all']['played']}}</th>
        <th scope="col">{{team['all']['win']}}</th>
        <th scope="col">{{team['all']['draw']}}</th>
        <th scope="col">{{team['all']['lose']}}</th>
        <th scope="col">{{team['all']['goals']['for']}}</th>
        <th scope="col">{{team['all']['goals']['against']}}</th>
        <th scope="col">{{team['goalsDiff']}}</th>
        <th scope="col">{{team['points']}}</th>
        {% endfor %}
      </tr>
    </tbody>
  </table>

{% endblock content %}



